{% extends 'hotspots_database/base.html' %}

{% block content %}

<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Matching Hotspots</title>

  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/scroller/2.0.3/css/scroller.dataTables.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/responsive/2.2.3/css/responsive.bootstrap4.min.css">

  <script type="text/javascript" language="javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
  <script type="text/javascript" language="javascript" src="https://cdn.datatables.net/scroller/2.0.3/js/dataTables.scroller.min.js"></script>
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <table cellspacing="5" cellpadding="5">
            <thead><tr>
                <td>Start position:</td>
                <td><input type="text" id="min" name="min"></td>
            </tr>
            <tr>
                <td>End position:</td>
                <td><input type="text" id="max" name="max"></td>
            </tr>
        </thead></table>
        <table id="matches" class="display" style="width:100%" data-server-side="true" data-ajax="/api/albums/?format=datatables">
          <thead>
            <tr>

                    <th>Gene</th>
                    <th>Chromosome</th>
                    <th>Hotspot start</th>
                    <th>Hotspot end</th>

            </tr>
          </thead>
          <tbody>
            {% for hotspot in hotspots %}
            <tr>
                    <td>{{ hotspot.3 }}</td>
                    <td>{{ hotspot.0 }}</td>
                    <td>{{ hotspot.1 }}</td>
                    <td>{{ hotspot.2 }}</td>
            </tr>
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div>

  <script type="text/javascript" class="init">
    $(document).ready(function() {
        $('#matches').DataTable();
    } );
  </script>
<p><center>Disclaimer: The hotspot chr8:145738768 has been excluded from the data. The region is present in build GRCh37 but does not convert to build GRCh38</center></p>
</body>
</html>

{% endblock %}