<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/b-1.7.1/sp-1.3.0/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/jq-3.3.1/dt-1.10.25/b-1.7.1/sp-1.3.0/datatables.min.js"></script>
{% extends 'hotspots_database/base.html' %}

{% block content %}

{% load render_table from django_tables2 %}
<h3>Genomic Positions</h3>

<script type="text/javascript" class="init">
    $(document).ready(function() {
        var data = [ data ];

        $('#GrCh37').DataTable( {
            data:           data,
            deferRender:    true,
            pageResize: true,
            info:       false, 
            scrollY:        "75vh",
            scrollCollapse: true,
            scroller:       true,
            scroller: {
                loadingIndicator: true
            },
            'processing': true,
            'language': {
                'loadingRecords': '&nbsp;',
                'processing': 'Loading...'
            },
            "columnDefs": [
                {
                    "targets": [ 0 ],
                    "visible": false,
                    "searchable": true
                },
                {
                    "targets": [ 1 ],
                    "visible": true,
                    "searchable": false,
                    "orderable": false
                }
            ]
        });
    });
</script>

{% endblock %}